body {
    background-color: #ef613e;
    margin: 0;
}

.component {
    background-color: #ffb775;
    border-radius: 25px;
    margin: 0.5%;
    padding: 0.5%;
    width: 22%;
    height: 550px;
    float: left;
}

.full-canvas {
    width: 50%;
}

.heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    margin-bottom: 2px;
}

.players-info p {
    margin-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#player-list {
    margin: 0px;
    padding: 0;
    list-style: none;
    text-align: center;
}

#player-list li {
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    border: 3px solid #7a7a7a;
    border-radius: 15%;
    background-color: #b7b7b7;
}

.choice-area {
    height: 5%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#canvas {
    background-color: white;
    /*width: 100%;
    height: 70%; */
}

#color-picker {
    position: relative;
    bottom: 0.5%;
    height: 8%;
    margin: 0;
    padding: 0;
}

#color-picker button {
    border: none;
    width: 11.1%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#purple {
    background-color: purple;
}
#brown {
    background-color: brown;
}
#black {
    background-color: black;
}
#white {
    background-color: white;
}

.option-picker {
    height: 8%;
    margin: 0;
    padding: 0;
}

.clock-area {
    margin: 0;
    padding: 0;
    height: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#chat-history {
    height: 75%;
    overflow: auto;
}